.title{
    margin: 10px;
    color: rgba(217, 227, 235, 0.884);
    font-size: 1.2em;
}
.title_isLargeRow{
    font-size:1.5rem;
}
.slider{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1px;
}


.slider::-webkit-scrollbar {
    display: none;
}

.slider_item {
    object-fit: contain;
    max-width: 250px;
    max-height: 250px;
    margin: 5px;
    border-radius: 3%;
    transition: transform 450ms;

}
.slider_item_isLargeRow{
    padding: 10px 3px;
    max-height: 400px;

}
.slider_item:hover {
    transform: scale(1.07) ;
}

@media (max-width: 1000px) {
    .slider_item {
        max-height: 100px;
    }
    .slider_item_isLargeRow{
        max-height: 300px;
    }
}
/*
@media (max-width: 1200px) {
    .slider_item {
        max-height: 200px;
    }
    .slider_item_isLargeRow{
        max-height: 500px;
    }
}
@media (max-width: 2000px) {
    .slider_item {
        max-height: 200px;
    }
    .slider_item_isLargeRow{
        max-height: 500px;
    }
} */